/* CORE.CSS */
@import url(./navigation.css);
@media screen,projection,print {
	div#doc * { margin-top:0; }
	html {
		margin:0;
		padding:0;
	}
	body {
		background-position:bottom center;
		background-repeat:repeat-y;
		margin:0;
		padding:0;
	}
	body.no-left,
	body.landing { background-image:url(http://www.cua.edu/res/images/themes/bg-body-noleft.gif); }
	body.no-left div#pagebody,
	body.landing div#pagebody { background-image:url(http://www.cua.edu/res/images/themes/bg-body-noleft.gif); }
	/**
	 * baseline appearance
	 */
	a:link,a:visited { text-decoration:none; }
	a:focus,a:hover,a:active { text-decoration:underline; }
	a.arrow {
		padding-left:12px;
		background-image:url(http://www.cua.edu/res/images/bullet-arrow-black-hollow.gif);
		background-repeat:no-repeat;
		background-position:0 0.3em;
		white-space:nowrap; /* if these links wrap to a new line bad things happen in IE */
	}
	img { vertical-align:middle; }
	h1 {
		font-weight:normal;
		margin:0 0 20px;
		padding:0 0 2px;
		font-family:"Times New Roman",Times,serif;
		font-size:160%;
		border-bottom:1px solid #ccc;
	}
	h1.stacked { margin-bottom:5px; }
	body.school div#content h1, body.no-left h1 {
		font-weight:normal;
		padding:0;
		margin:0 0 10px;
		border-bottom:none;
		font-family:Arial,Helvetica,sans-serif;
		color:#666;
	}
	h2 {
		font-weight:normal;
		margin:0 0 10px;
		padding:3px 0;
		font-size:125%;
		border-bottom:1px solid #ccc;
	}
	h2.plain {
		border-bottom:none;
		padding-bottom:0;
	}
	h3 {
		font-weight:bold;
		font-size:1em;
		margin-bottom:5px;
	}
	h3.divided {
		padding-bottom:2px;
		border-bottom:1px solid #ccc;
		margin-bottom:1em;
	}
	h4 {
		font-weight:normal;
		font-size:110%;
		padding-bottom:5px;
		border-bottom:1px solid #ccc;
		margin-bottom:10px;
	}
	h4.plain {
		font-weight:normal;
		padding-bottom:0;
		margin-bottom:0;
		border-bottom:none;
	}
	span.divider { padding:0 0.5em; }
	img.bordered { border:4px solid #ccc; }
	ul { padding:0; margin:0 0 1em }
		ul li {
			list-style-type:none;
			padding-left:15px;
			background-image:url(http://www.cua.edu/res/images/bullet-square-black.gif);
			background-repeat:no-repeat;
			background-position:5px 0.5em;
		}
	fieldset {
		border:1px solid #900;
		padding:15px;
	}
		fieldset label { display:block; margin-bottom:0.5em; font-size:0.9em; }
		fieldset input { width:250px; }
		fieldset select { width:250px; }
		fieldset textarea { width:400px; }
		div.btn { text-align:right; }
		fieldset div.btn input { width:auto !important; }
		fieldset img { border-top:0.5em solid #fff; }
	/**
	 * page layout
	 */
	div#jumplinks {
		position:absolute;
		width:1px;
		height:1px;
		overflow:hidden;
		left:-300px;
		top:0px;
	}
	div#pagewrapper {
		background-position:top center;
		background-repeat:repeat-x;
	}
	div#doc {
		position:relative;
		width:960px;
		margin:0 auto;
	}
		div#branding {
			padding-left:20px;
			height:135px;
		}
		body.school div#branding { height:55px; padding-top:25px; }
		div#school-branding {
			padding:16px 18px 9px;
			position:relative;
			zoom:1;
		}
			div#school-branding h1 {
				font-size:200%;
				font-weight:normal;
				color:#fff;
				padding:0;
				margin:0;
				border-style:none;
			}
			div#school-branding div.school-nav {
				position:absolute;
				bottom:5px;
				left:18px;
				right:18px;
				color:#fff;
				text-align:right;
			}
				div#school-branding div.school-nav a { color:#fff !important; }
				div#school-branding div.school-nav a.active { text-decoration:underline; }
		div#navigation { /* see navigation.css for navigation styles */ }
		div#pagebody {
			background-repeat:repeat-y;
			border-top:6px solid #fff;
			clear:both;
		}
			div#left-rail {
				float:left;
				width:192px;
				margin-left:6px;
				display:inline; /* ie/pc */
			}
			div#content {
				width:727px;
				float:right;
				margin-right:18px;
				display:inline; /* ie/pc */
				padding-top:12px;
			}
			/*Added to allow school pages with the grid-land pagetype to display properly*/
			div#content-no-left
			{
				width:920px;
				float:left;
				margin-right:18px;
				display:inline; /* ie/pc */
				padding-top:12px;
				padding-left:18px;
			}
			div#pagebody div#banner { padding:0; }
	div#footer {
		clear:both;
		padding-top:50px;
		font-size:85%;
	}
		body.landing div#footer {
			margin:0 18px;
		}
		div#footer-content {
			border-top-style:solid;
			border-top-width:1px;
			line-height:25px;
			padding-top:5px;
		}
		a#careerlink { margin-right:1em; }
	div#global-nav {
		position:absolute;
		top:12px;
		padding-top:3px;
		right:0;
		width:365px;
		text-align:left;
		font-size:85%;
	}
		div#global-nav span.divider { color:#900; }
		div#global-nav a.careers {
			padding:15px;
			background-image:url(http://www.cua.edu/res/images/bullet-careers.gif);
			background-repeat:no-repeat;
			background-position:0 50%;
			color:#900;
		}
	div#global-search {
		position:absolute;
		top:35px;
		right:0;
		width:500px;
		text-align:right;
		padding:10px 20px;
		background-image:url(http://www.cua.edu/res/images/search-bg.png);
		background-position:top right;
		background-repeat:repeat-y;
	}
		div#global-search input { vertical-align:middle; }
		div#global-search input.searchbox { width:275px; }
	/**
	 * content area structures
	 */
	img.inset {
		float:left;
		margin-right:1em;
		margin-bottom:0.5em;
	}
	img.flourish {
		float:left;
		border-right:10px solid #fff;
		border-bottom:5px solid #fff;
	}
	div.bannerimg {
		clear:both;
		margin:-12px 0 25px !important;
		padding-top:15px;
	}
		body.school div.bannerimg {
			padding-top:0;
			margin:-12px -12px 15px !important;
		}
	div.pagination {
		clear:both;
		padding-top:25px;
		font-size:85%;
		text-transform:uppercase;
	}
		div.pagination div.pag-prev {
			float:left;
		}
		div.pagination div.pag-next {
			float:right;
		}
		div.pagination div.pag-num {
			text-align:center;
		}
	p.lead { font-size:120%; }
	span.date { color:#000; font-size:80%; text-transform:uppercase; white-space:nowrap; }
	/**
	 * "modules"
	 */
	div.module {
		margin-bottom:30px;
		border-bottom:1px solid #ccc;
	}
		div.modules div.last { border-bottom-style:none; }
		div.module blockquote {
			font-size:150%;
			font-family:"Times New Roman",Times,serif;
			padding:0;
			margin:0 0 10px;
		}
		div.module div.video { margin-bottom:20px; }
			div.module div.video div.img { margin-bottom:10px; }
			div.module div.video div.desc { font-size:85%; }
	/**
	 * colored boxes
	 */
	div.box {
		background-color:#eee;
		font-size:85%;
		margin-bottom:20px;
	}
		div.box h2 {
			padding:5px 15px;
			border-color:#fff;
			border-bottom-width:2px;
			text-transform:uppercase;
			margin-bottom:0.5em;
			line-height:1.3em;
			font-size:1em;
		}
		div.box div.body {
			padding:5px 15px;
		}
	div.box2 { background-color:#d1e6f4; }
	div.box3 { background-color:#fcf0df; }
		div.box3 h2 { margin-bottom:0; }
	div.box div.xref {
		border-top:1px solid #fff;
		padding:10px 20px;
	}
	div.box table {
		margin:0 2px 2px 4px;
	}
	div.box table th {}
	div.box table td {
		border-style:none;
		background-color:#fdfdf4;
		line-height:1.3em;
		vertical-align:top;
		border-right:4px solid #eee;
		border-bottom:4px solid #eee;
		font-size:110%;
	}
		div.box2 table th, div.box2 table td { border-color:#d1e6f4; }
		div.box3 table th, div.box3 table td { border-color:#fcf0df; }
	/**
	 * modular grids
	 */
	div.grid { clear:both; }
		div.grid div.col1 { float:left; }
		div.grid div.col2 { float:right; }
		div.grid div.col3 { display:none; } /* this can only be used in grid-1-1-1 */
		/* 1 column 100% width */
		div.grid-1{}
			div.grid-1 div.col1 { width:710px; }
		div#content-no-left div.grid-1 div.col1 {width:900px;}
		/* 2 column, 50/50 split */
		div.grid-1-1 {}
			div.grid-1-1 div.col1 { width:355px; }
			div.grid-1-1 div.col2 { width:355px; }
		/* 3 column, 33/33/33 split */
		div.grid-1-1-1 {}
			div.grid-1-1-1 div.col1 { width:231px; }
			div.grid-1-1-1 div.col2 {
				float:left;
				width:231px;
				display:inline;
				margin-left:18px;
			}
			div.grid-1-1-1 div.col3 {
				display:block;
				float:right;
				width:231px;
			}
		/* 2 column, 33/66 split */
		div.grid-1-2 {}
			div.grid-1-2 div.col1 { width:231px; }
			div.grid-1-2 div.col2 { width:479px; }
		/* 2 column, 66/33 split */
		div.grid-2-1 {}
			div.grid-2-1 div.col1 { width:479px; }
			div.grid-2-1 div.col2 { width:231px; }
		/* nested grids: 50/50 split inside the wider of a 66/33 split */
			div.grid div.grid-1-1 div.col1 { width:231px; }
			div.grid div.grid-1-1 div.col2 { width:231px; }
		/* landing page grids: 3 column, 33/33/33 split, wider area */
		div.grid-land { margin:0 18px; }
			div.grid-land div.col1 { width:297px; }
			div.grid-land div.col2 {
				float:left;
				width:297px;
				display:inline;
				margin-left:18px;
			}
			div.grid-land div.col3 {
				width:297px;
				display:block;
				float:right;
			}
	/* table.void */
	table.void {
		width:100% !important;
		margin:5px 0 5px !important;
	}
		table.void td {
			border-style:none !important;
			width:33% !important;
			padding:5px 20px 5px !important;
			background-color:transparent !important;
		}
	/* ul.divided */
	ul.divided {
		padding:0;
		margin:0 0 1em;
	}
		ul.divided li {
			padding:0.5em 0;
			margin:0 0 0.5em;
			border-bottom:1px solid #ccc;
			list-style:none;
			background-image:none;
		}
		div.box ul.divided li { border-color:#fff !important; }
		ul.divided li.last,
		ul.divided li.plain {
			border-bottom:none;
			padding-bottom:0;
			margin-bottom:1em;
		}
		ul.divided li img {
			float:left;
			margin-right:10px;
			margin-bottom:10px;
		}
		ul.divided h2.plain { margin-bottom:0; }
	/* ul.plain */
	ul.plain {
		padding:0;
		margin:0 0 1em;
	}
		ul.plain li {
			padding:0;
			margin:0;
			list-style:none;
			background-image:none;
		}
	/* ul.arrow */
	ul.arrow {
		padding:0;
		margin:0 0 1em;
	}
		ul.arrow li {
			padding:0 0 0 10px;
			margin:0 0 0.5em;
			list-style:none;
			background-image:url(http://www.cua.edu/res/images/bullet-arrow-black-hollow.gif);
			background-repeat:no-repeat;
			background-position:0 0.3em;
		}
	/* event list items */
	ul#eventlist { margin-bottom:0; }
	ul#eventlist li {
		position:relative;
		height:auto !important;
		height:55px;
		min-height:55px;
		margin-bottom:0;
	}
		ul#eventlist li.last { margin-bottom:0; }
		ul#eventlist li.over {
			background-color:#fff;
			cursor:pointer; /* appear as link */
		}
		ul#eventlist li.over a {
			color:#006db3;
			text-decoration:none;
		}
		ul#eventlist div.dt {
			position:absolute;
			top:10px;
			left:20px;
			width:34px;
			height:34px;
			overflow:hidden;
			background-image:url(http://www.cua.edu/res/images/bg-eventcalendar-off.png);
		}
		ul#eventlist li.over div.dt {
			background-image:url(http://www.cua.edu/res/images/bg-eventcalendar-on.png);
		}
		ul#eventlist div.month {
			height:10px;
			line-height:10px;
			padding:1px;
			text-align:center;
			font-size:10px;
			color:#FCF0DF;
		}
		ul#eventlist li.over div.month { color:#fff; }
		ul#eventlist div.day {
			height:22px;
			line-height:22px;
			font-size:18px;
			color:#7e7261;
			text-align:center;
		}
		ul#eventlist li.over div.day { color:#000; }
		ul#eventlist div.txt {
			padding:0 20px 5px 70px;
		}
	/* tabbed content */
	div.tabbed { border:1px solid #999; margin-bottom:20px; }
		/* tabs */
		div.tabbed ul.tabs {
			background-color:#999;
			padding:0;
			margin:0;
			font-size:90%;
		}
		div.tabbed ul.tabs li {
			float:left;
			padding:0;
			margin:0;
			list-style:none;
			border-right:1px solid #fff;
			background-image:none;
		}
		div.tabbed ul.tabs li.last { border-right-style:none; }
		div.tabbed ul.tabs li a {
			display:block;
			padding:3px 9px;
			color:#fff;
		}
		div.tabbed ul.tabs li.ui-tabs-selected a {
			background-color:#fff;
			color:#999;
			cursor:default;
			text-decoration:none;
		}
		/* tab content containers */
		div.tabbed div.tab-display {
			padding:9px;
		}
		div.tabbed div.ui-tabs-hide { display:none; }
		div.tabbed div.tab-highlight {
			position:relative;
			height:auto !important;
			height:105px;
			min-height:105px;
			padding-left:115px;
		}
			div.tabbed div.tab-highlight img {
				position:absolute;
				left:0;
				top:0;
			}
			div.tabbed div.links {
				padding-top:10px;
				border-top:1px solid #ccc;
			}
}
/**
 * See http://positioniseverything.net/easyclearing.html
 * for a description of this code.
 * 
 * This code is applied to ALL media.
 * 
 * @section		fix clearing of floated items without structural markup
 */
	.clearfix:after, ul.divided li:after { content:"."; display:block; height:0; clear:both; visibility:hidden; }
	.clearfix, ul.divided li { display:inline-table; }
	/* Hides from IE-mac \*/
	* html .clearfix, * html ul.divided li { height:1%; }
	*+html .clearfix, *+html ul.divided li { height:1%; }
	.clearfix, ul.divided li { display:block; }
	/* End hide from IE-mac */