/* PRINT.CSS */
/**
 * style modifications for print
 */
div#doc { width:100%; margin:0; padding:0; }
* html div#banner img, * html div.bannerimg img { width:100%; }
div#banner img, div.bannerimg img { max-width:100%; }
div#branding { padding-left:0; }
div#content { float:none; width:100%; padding:0; clear:both; }
div#school-branding { padding:0; margin:0 0 1em; }
	div#school-branding div.school-nav { display:none; }
div#global-nav { display:none; }
div#global-search { display:none; }
div#left-rail { display:none; }
div.pagination { display:none; }
div.dt { border:1px solid #999; }
div.box { border:2px solid #999; }
	div.box h2 { border-color:#999; }
	div.box table td { border-color:#fff !important; }
div.tabbed ul.tabs li.ui-tabs-selected a { text-decoration:underline; }
div#footer { clear:both; padding-top:10px; display:block; }
div#footer-content a, div#footer-content span.divider { display:none; }
div#footer-content span.vcard span.divider { display:inline; }
div#footer-content { text-align:center; }
img.bordered { border-style:none; }
/* modified grid layouts for print display */
	div.col1 img, div.col2 img, div.col3 img { max-width:100%; }
	div.grid {}
	div.grid-1-1 {}
		div.grid-1-1 div.col1 { width:49%; }
		div.grid-1-1 div.col2 { width:49%; }
	div.grid-1-1-1 {}
		div.grid-1-1-1 div.col1 { width:32%; }
		div.grid-1-1-1 div.col2 { width:32%; margin-left:2%; }
		div.grid-1-1-1 div.col3 { width:32%; }
	div.grid-1-2 {}
		div.grid-1-2 div.col1 { width:31%; }
		div.grid-1-2 div.col2 { width:63%; }
	div.grid-2-1 {}
		div.grid-2-1 div.col1 { width:63%; }
		div.grid-2-1 div.col2 { width:31%; }
	div.grid div.grid-1-1 div.col1 { width:48%; }
	div.grid div.grid-1-1 div.col2 { width:48%; }
	div.grid-land { margin:0; }
		div.grid-land div.col1 { width:32%; }
		div.grid-land div.col2 { width:32%; margin-left:2%; }
		div.grid-land div.col3 { width:32%; }
*+html div.grid { zoom:1; } /* IE7 float clearing issue */
ul.arrow li { list-style:disc; padding-left:0; margin-left:1em; }
a.arrow { padding-left:0; }