.viola {background-color: #f94144;}
.olivia {background-color: #f3722c;}
.maria {background-color: #f8961e}
.sirtoby {background-color: #f9844a}
.sirandrew {background-color: #f9c74f}
.malvolio {background-color: #90be6d}
.clown {background-color: #43aa8b}
.fabian {background-color: #4d9083}
.orsino {background-color: #577590; color:white;}
.valentine {background-color: #277da1; color: white}
.curio {background-color: #e2cfc4}
.sebastian {background-color: #f7d9c4}
.antonio {background-color: #faedcb}
.captain {background-color: #c9e4de}
.priest {background-color: #c6def1}
.officers {background-color: #f2c6de}
span b {padding-left:2em; padding-right:1em; font-variant:small-caps;}