.site {
	display: grid;
	grid-template-columns: .7fr 1.3fr 2fr 2fr;
/*	grid-template-rows: 1fr 4fr 2fr; */
}
.box {
	margin: 5px;
	padding: 7px;
}
.box-header {
	grid-column: 1/4;
	grid-row: 1;
}
.name {
	grid-column: 1/5;
	grid-row: 1;
	display: grid;
	grid-template-rows: 1fr 1fr;
	grid-template-columns: 2fr 1fr 1fr 1fr;
	border: 1px solid black;
	padding-right: 15px;
}
.proper-name {
	grid-column: 1/2;
	grid-row: 1/3;
}
.class-level {
	margin-top:10px;
}
.background {
	margin-top:10px;
}
.player-name {
	margin-top:10px;
}
.race {
}
.alignment {
}
.exp-points {
}
.stats {
	display:grid;
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
	background-color: #c9cac8;
}
.stats-inner {
	max-height: 7em;
	margin: 10px;
	background-color: white;
	border: 1px solid black;
	border-radius: 5px;
}
.prof {
	background: white;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto;
}
.inspo {
	grid-row: 1;
	border: 1px solid black;
	max-height: 70px;
	padding-left: 10px;
	background-color: white;
}
.profiency-bonus {
	grid-row: 2;
	border: 1px solid black;
	max-height: 70px;
	padding-left: 10px;
	background-color: white;
}
.saving-throws {
	background: white;
	border: 1px solid black;
	margin: 1px;
	padding: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	margin-bottom: 10px;
}
.skills {
	background: white;
	border: 1px solid black;
	padding: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
.enc {
	display:grid;
	grid-template-rows: auto;
	grid-template-columns: 2fr 2fr 2fr;
	background-color: #c9cac8;
}
.enc-ac {
	grid-row: 1;
	max-height: 5em;
	background: white;
	border: 1px solid black;
	margin: 1px;
	padding: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	margin-bottom: 10px;
}
.enc-initiative {
	grid-row: 1;
	max-height: 5em;
	background: white;
	border: 1px solid black;
	margin-left: 5px;
	margin-right: 5px;
	padding: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	margin-bottom: 10px;
}
.enc-speed {
	grid-row: 1;
	max-height: 5em;
	background: white;
	border: 1px solid black;
	margin: 1px;
	padding: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	margin-bottom: 10px;
}
.current-hp {
	grid-row: 2;
	grid-column: 1/6;
	max-height: 5em;
	background: white;
	border: 1px solid black;
	margin: 1px;
	padding: 5px;
	margin-bottom: 10px;
}
.temp-hp {
	grid-row: 3;
	grid-column: 1/6;
	max-height: 5em;
	background: white;
	border: 1px solid black;
	margin: 1px;
	padding: 5px;
	margin-bottom: 10px;	
}
.hit-dice {
	grid-row: 4;
	grid-column: 1/3;
	max-height: 5em;
	background: white;
	border: 1px solid black;
	margin: 1px;
	padding: 5px;
	margin-bottom: 10px;
}
.death-saves {
	grid-row: 4;
	grid-column: 4/6;
	max-height: 5em;
	background: white;
	border: 1px solid black;
	margin: 1px;
	padding: 5px;
	margin-bottom: 10px;
}
.pers {
	grid-column: 4;
	grid-row: 2/4;
	border: 5px double black;
}
.pers-inner {
	width: 100%;
	background-color: white;
	border: 1px solid black;
	margin-bottom: 5px;
}
.pers-inner:last-child {
	margin-bottom: 0px;
	padding-bottom: 30px;
}

.lang {
	grid-column: 1/3;
	grid-row: 3/4;
	display: grid;
	grid-template-rows: 1fr 1fr 3fr;
	background: #c9cac8;
}
.passive-wis {
	grid-column: 1;
	grid-row: 1;
	border: 1px solid black;
	max-height: 70px;
	padding-left: 10px;
	background-color: white;
}
.lang>.box-header {
	grid-column: 1;
	grid-row: 2/3;
	padding-top: 10px;
	border-top: 1px solid black;
	border-left: 1px solid black;
	border-right: 1px solid black;
	background-color: white;
}
.languages {
	grid-column: 1;
	grid-row: 3/4;
	border-bottom: 1px solid black;
	border-left: 1px solid black;
	border-right: 1px solid black;
	background-color: white;
}
.equipment {
	grid-column: 3/4;
	grid-row: 3/4;
	display: grid;
	grid-template-columns: 1fr 3fr;
	grid-template-rows: 1fr 4fr;
	border: 1px solid black;
}
	.currency {
		grid-column: 1;
		grid-row: 2;
	}
	.inventory {
		grid-column: auto;
		grid-row: 2;
	}