h1 {
	font-family: "copperplate", sans-serif;
	text-align: center;
	font-size: 1.5em;
	font-variant:small-caps;
}
.proper-name {
	font-size: 2em;
}
.name p {
	font-size: .9em;
	font-family: sans-serif;
	border-bottom: 1px solid black;
}
.pers-inner p {
	margin: -10px 15px 15px 15px;
	font-family: sans-serif;
	border-bottom: 1px solid black;
}
.pers-inner>ul {
	margin: -10px 15px 15px 0px;
}
.pers-inner>ul>li>ul>li>ul>li {
	list-style-type:disc;
}
li {
	list-style: none;
	margin-right: 10px;
	font-family: sans-serif;
	margin-left: -25px;
}
.currency li {
	border: 1px solid black;
	border-radius: 30px;
	padding: 5px;
	margin-bottom: 5px;
}
.stat-number {
	font-family: "copperplate", sans-serif;
	text-align: center;
	margin-top: -20px;
	font-size: 2.5em;
}
.stat-bonus {
	line-height: 40px;
	width: 40px;
	height: 40px;
	background: white;
	border: 1px solid black;
	-moz-border-radius: 40px;
	-webkit-border-radius: 40px;
	border-radius: 40px;
	font-family: "copperplate", sans-serif;
	text-align: center;
	font-size: 1em;
	margin-top: -40px;
	margin-left: auto;
	margin-right: auto;
}
.proficient {
	list-style-type: circle;
}
.passive-wis-number {
	line-height: 40px;
	width: 40px;
	height: 40px;
	background: white;
	border: 1px solid black;
	-moz-border-radius: 40px;
	-webkit-border-radius: 40px;
	border-radius: 40px;
	font-family: "copperplate", sans-serif;
	text-align: center;
	font-size: 1em;
	float: left;
	margin-right: 10px;
}
.passive-wis>p:last-child {
	line-height: 40px;
	font-family: "copperplate", sans-serif;
	font-size: 1em;
}